.split-center_newdata {
    margin-top: 52px;
    height: 100%;
    width: 50%;
    position: fixed;
    left: 20%;
    /* background-color: blue; */
    z-index: 1;
    top: 0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    overflow-x: hidden;
  }

  .split-center_retweets {
    margin-top: 52px;
    height: 100%;
    width: 70%;
    position: fixed;
    left: 20%;
    /* background-color: blue; */
    z-index: 1;
    top: 0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    overflow-x: hidden;
  }