.col-sm-2 {
    border-radius: 2px;
    border: 1px solid balck;
    padding: 40px 40px 40px 40px;
    font-size: 15.4px;
    line-height: 1.595;
    background-color: white;
  }

  
  .split-center-list-details {
    margin-top: 65px;  
    height: 100%;
    width: 60%;
    position: fixed;
    left: 20%;
    /* background-color: blue; */
    z-index: 1;
    top: 0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    overflow-x: hidden;
  }
  
 