.col-sm-2{
    border-radius: 2px; 
    border: 1px solid balck;  
    padding: 40px 40px 40px 40px;
    font-size: 15.4px;  
    line-height: 1.595;  
    background-color: white;
      
}
.preview-img
{
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}
.preview i
{
    color: white;
    font-size: 35px;
    transform: translate(50px,130px);
}

.browse-button
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute; /* Tweak the position property if the element seems to be unfit */
    top: 50px;
    left: 541px;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
}

.browse-button:hover
{
    opacity: 1;
}
.browse-input
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px,-26px);
    opacity: 0;
}

.li-profile{
    margin-bottom: 10px;
}

.col-sm-2  .tab{  
    box-sizing: inherit;
    color: #0070eb;
    font-size: 15.4px;
    /* font-family: r */
    font-weight: bold;
    margin: -40px -40px -40px -40px;    
    padding: 20px 20px 20px 20px;
    /* max-width: 25%;  */
}

.col-sm-10{
    border-radius: 2px;
    flex: 0 0 75%;
    max-width: 75%;
    background-color: white;
    /* border-block:  */
    /* background-color: gray;  */
    /* border: 1px solid #d4d4d4; */
}


.col-sm-2{
    border-radius: 2px; 
    border: 1px solid balck;  
    padding: 40px 40px 40px 40px;
    font-size: 15.4px;  
    line-height: 1.595;  
    background-color: white;
      
}
.preview-img
{
    border-radius: 100%;
    margin: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}
.user-name
{
    color: black;
    font-weight: 700;
    font-size: 15px;
}
.preview i
{
    color: white;
    font-size: 35px;
    transform: translate(50px,130px);
}

.browse-button
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative; /* Tweak the position property if the element seems to be unfit */
    top: 50px;
    left: 0px;
    /* float: left; */
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
}

.browse-button:hover
{
    opacity: 1;
}
.browse-input
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px,-26px);
    opacity: 0;
}

.li-profile{
    margin-bottom: 10px;
}

.col-sm-2  .tab{  
    box-sizing: inherit;
    color: #0070eb;
    font-size: 15.4px;
    font-weight: bold;
    margin: -40px -40px -40px -40px;    
    padding: 20px 20px 20px 20px;
}

.col-sm-10{
    border-radius: 2px;
    flex: 0 0 75%;
    max-width: 75%;
    background-color: white;
}


.box {
    background-color: rgb(61, 84, 102);
}

.product-holder {
    position: relative;
    display: block;
}

.plus-image {
    left: 21%;
    bottom : 30%;
    position: absolute;
    margin-top: -800px;
    margin-bottom:100px;
    margin-left:-150px;
}

.split-center_new {
    margin-top: 52px;
    height: 100%;
    width: 50%;
    position: fixed;
    left: 20%;
    /* background-color: blue; */
    z-index: 1;
    top: 0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    overflow-x: hidden;
  }
  
  .split-right_new {
    margin-top: 52px;
    height: 100%;
    width: 20%;
    position: fixed;
    /* background-color: red; */
    border-right: 1px solid #e0e0e0;
    z-index: 1;
    top: 0;
    right: 10%;
    overflow-x: hidden;
  }

  .font{
    font-family:  "Segoe UI", "Helvetica Neue", sans-serif;
  }


  .profile .body {
        font-family: 'Open Sans', San-Serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
    .profile .h1 {
        margin-top:80px;
        font-weight: bold;
      }
      
      .profile  .p {
        margin-top: 25px;
        margin-bottom: 25px;
      }
  

  .btn_new {
    margin-left: 10px;
    margin-right: 10px;
  } 
  
  
  .btn-primary_new {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }
  
  .btn-primary_new:hover {
    color: #FFF;
    background: rgba(58, 133, 191, 0.75);
    border: 2px solid rgba(58, 133, 191, 0.75);
  }
  
  